#screen { width: 100%; display: flex; }
#screen > [class*="container"] { transition: .3s; position: relative;}
#screen .container_m { width: 100%; }
#screen .container_s { width: 0%;}

#screen.active .container_m { width: 70%;}
#screen.active .container_s { width: 30%;}
#screen.active #header {width: 70%; padding : 1rem 2rem; }
#screen.active #header .header_inner { padding: 1rem 2rem; box-sizing: border-box; width: 100%; height: 100%; border-radius: 50px; border: 1px solid var(--primary_m); box-shadow: 0px 4px 4px rgba(0,0,0,0.1);}
#screen.active #header #nav .login-btn { background-color: var(--second_m); }
#screen.active #footer { width: calc(100% - 4rem); border-radius: var(--round-lg) var(--round-lg) 0 0; }
#screen.active .inner_01,
#screen.active .inner_02 { padding: 0 1rem; }

#main { padding-top: calc(var(--header-height) + 2rem); }

#header {width: 100%; display: block; position: fixed; top: 0; left: 0; z-index: 800; height: var(--heade-height); transition: .3s;}
#header .header_inner { display: flex; justify-content: space-between; align-items: center; padding: 2rem; transition: .3s; background-color: var(--natural_0);}
#header.active { padding: 1rem 2rem; }
#header.active .header_inner { padding: 1rem 2rem; box-sizing: border-box; width: 100%; height: 100%; border-radius: 50px; border: 1px solid var(--primary_m); box-shadow: 0px 4px 4px rgba(0,0,0,0.1);}
#header.active.slide_up { transform: translateY(calc( -100% - 1rem)); }
#header h1, #header .logo a {font-family: 'HakgyoansimDunggeunmisoTTF-B'; font-size: var(--font_xlg); color: var(--primary_m); transition: .2s;}
#header #nav { display: flex; gap: 2rem; align-items: center; }
#header #nav ul { display: flex; gap: 1rem;}
#header #nav ul a { position: relative; font-weight: 600; color: var(--primary_m); font-size: var(--font_lg); font-family: 'HakgyoansimDunggeunmisoTTF-B'; }
#header #nav ul a::after { content: ''; display: block; position: absolute; bottom: -5px; left: 0; width: 0; height: 2px; background-color: var(--primary_m); transition: .2s;}
#header #nav .login-btn { display: flex; justify-content: center; align-items: center; width: 3rem; height: 3rem; border-radius: 50%; background-color: var(--primary_m); cursor: pointer; transition: .3s;}
#header #nav .login-btn img { width: 1.5rem; filter: grayscale(1) brightness(100) invert(1); }

@media (hover:hover) and (pointer : fine){
    #header .logo a:hover { color: var(--second_m); }
    #header #nav ul a:hover { color: var(--second_m); }
    #header #nav ul a:hover::after { width: 100%; background-color: var(--second_m);}
    #header #nav .login-btn:hover { background-color: var(--second_m); }
}

#footer {position: relative; width: 100%; height: 300px;margin: 0 auto; background-color: var(--natural_80); z-index: 800; transition: .3s;}