#main.review-detail .container { padding: 2rem; border:1px solid var(--primary_m); border-radius: var(--round-xlg); box-shadow: 0 5px 5px rgba(0,0,0,0.2);}
#main.review-detail .head-area { display: flex; align-items: center; justify-content: space-between; margin-bottom: var(--space_lg);}
#main.review-detail .head-area .date p { color: var(--natural_50); }
#main.review-detail .head-area .writer { display: flex; gap: var(--space_sm); }

#main.review-detail .title-area { margin-bottom: var(--space_lg); }

#main.review-detail .item_wrap { display: flex; gap: 2rem;  padding: 2rem; background-color: var(--natural_10); border-radius: var(--round-lg);}
#main.review-detail .info_wrap { width: 50%; border-radius: var(--round-lg);}
#main.review-detail .info_wrap img { border-radius: var(--round-lg); }
#main.review-detail .info_list {display: flex; flex-direction: column; gap: 1rem;}
#main.review-detail .info_list [class*="fs_"],
#main.review-detail .info_list [class*="fs_"] a { color: var(--natural_60); }
#main.review-detail .info_list [class*="fs_"] b { color: var(--natural_0); background-color: var(--primary_m); padding:5px 1rem; border-radius: 2rem; }
#main.review-detail .content > p,
#main.review-detail .content > img { margin-bottom: var(--space_md); }
#main.review-detail .content > img { border-radius: var(--round-lg); }

#main.review-detail .comment_list {display: flex; flex-direction: column; gap: 1rem; margin-bottom: var(--space_lg); border: 1px solid var(--natural_50); box-shadow: 0 2px 5px rgba(0,0,0,0.2); padding: 2rem;  border-radius: var(--round-xlg);}
#main.review-detail .comment { display: flex; gap: 2rem; align-items:flex-start; border-bottom: 1px solid var(--natural_40); padding-bottom: var(--space_md);}
#main.review-detail .comment .profile-area { display: flex; flex-direction: column; align-items: center; justify-content: center; }
#main.review-detail .comment .profile-area .user-name { font-size: var(--font-md); margin-top: var(--space_sm); }
#main.review-detail .comment .profile-img { width: 5rem; height: 5rem; display: flex; justify-content: center; align-items: center; border-radius: 50%; background-color: var(--primary_m); border: 1px solid var(--primary_m); overflow: hidden;}
#main.review-detail .comment .profile-img img { width: 100%; height: 100%; object-fit: cover;  display: none;}
#main.review-detail .comment .date { font-size: var(--font_md); color: var(--natural_50); }

#main.review-detail .comment_new { background-color: var(--natural_10); padding: 2rem; border-radius: var(--round-lg); border: 1px solid var(--natural_50);  box-shadow: 0 2px 5px rgba(0,0,0,0.2);}
#main.review-detail .comment_new .comment-form { display: flex; }
#main.review-detail .comment_new .comment-form input { padding: 2rem; border-radius: var(--round-lg); border: none; background-color: var(--primary_m); color: var(--natural_0); font-size: var(--font_lg); cursor: pointer;}
#main.review-detail .comment_new .comment-form input:disabled { background-color: var(--primary_d); }
